
/venv/*
/igor/igor/__pycache__/*
/igor/igor_app/__pycache__/*
/igor/igor_app/migrations/*
/igor/db.sqlite3
igor/login_reg/.DS_Store
igor/.DS_Store
.idea/*
.DS_Store
igor/login_reg/__pycache__/*
igor/login_reg/migrations/*
