<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Blinker' rel='stylesheet'>
    <title>Igor-My Page</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Igor</h1>
            <a href="/logout">Log Out</a>
            <a href="about">About Igor</a>
            <a href="questions">Want_Ad</a>
            <h2>Hello {{ user.username }}. What Would You Like to Ask Today></h2>
        </div>
    </div>